@model GigsApplication.Core.ViewModels.ProfileViewModels
@{
    ViewBag.Title = "Profile";
}
<h2 class="text-center">@Model.username</h2>
<div class="followBox">
    <div class="row">
        <div class="col-lg-3">

            <p>

                <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#follower" aria-expanded="false" aria-controls="follower">
                    <span class="badge badge-light">@Model.FollowerCount</span> Follower
                </button>
            </p>
            <div class="collapse" id="follower">
                <div class="card card-body col-sm-2">
                    @foreach (var item in Model.Follower)
                    {
                        <a href="/account/profile/@item.Follower.Id"><p>@item.Follower.name</p></a>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>

                <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#followee" aria-expanded="false" aria-controls="followee">
                    <span class="badge badge-light">@Model.FolloweeCount</span> Followee
                </button>
            </p>
            <div class="collapse" id="followee">
                <div class="card card-body col-sm-2">
                    @foreach (var item in Model.Followee)
                    {
                        <a href="/account/profile/@item.Followee.Id"><p>@item.Followee.name</p></a>
                    }

                </div>
            </div>
        </div>
        @foreach (var item in Model.Audios)
        {
            <ul id="gigs" class="gigs space-between">


                
                    <li>
                        <div class="date">
                            <div class="month">
                                @item.DateTime.ToString("MMM")
                            </div>
                            <div class="day">
                                @item.DateTime.ToString("d ")
                            </div>
                        </div>
                        <div class="details">

                            <span class="artist">
                                <a href="/gigs/details/@item.Id">@item.Song</a>
                                @if (item.IsCanceled)
                                {
                                    <span class="label label-warning">Canceled</span>
                                }

                            </span>

                            <span class="genre">
                                @item.Genre.Name
                            </span>
                            
                           
                        </div>
                    </li>
                
            </ul>

        }

    </div>
    </div>