@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="notfications">
        <a href="#">
        <i class="glyphicon glyphicon-bell"></i>
        <span class="badge js-notification-count hidden"></span>
        </a>
    </li>
    @*<li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>*@
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>  <a class="dropdown-item" href="@Url.Action("MyGig","Gigs")">Audio i'am share</a></li>
            <li>  <a class="dropdown-item" href="@Url.Action("Attending","Gigs")">Audio I'am notified</a></li>
            <li> <a class="dropdown-item" href="@Url.Action("Following","Gigs")">Users I'am Follwoing</a></li>
            <li> <a class="dropdown-item" href="@Url.Action("Index","Manage")">Account Setting</a></li>
            <li><div role="separator" class="divider"></div></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
