@model GigsApplication.Core.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    bool status = User.Identity.IsAuthenticated;
    
}

<h2>
    @Model.gigs.Artist.name
    @if (status)
    {
        if (Model.IsFollowing)
        {
            <button class="btn btn-info js-toggle-follow" data-user-id="@Model.gigs.ArtistId">Following</button>
        }
        else
        {
            <button class="btn btn-default js-toggle-follow" data-user-id="@Model.gigs.ArtistId">Follow</button>


        }

    }
</h2>

@if (Model.gigs.DateTime <= DateTime.Now)
{
    <audio controls>
        <source src="@Url.Action("getSound",new {soundId=Model.gigs.Id })" type="audio/mpeg" />
    </audio>

    if (status)
    {<div class="heart-container">
    <span class="@(Model.IsLoved?"single-heart-active ":"heart ") js-toggle-love" data-audio-id="@Model.gigs.Id"></span>
</div>
     <div class="container">
         <h3 class="text-left">Write You Comment</h3>
         <div class="previous-comments"></div>
             
             <div class="form-group">
                  
                 <textarea class="comment-data form-control"></textarea>
             </div>
             
                 <button class="js-toggle-comment btn btn-primary" data-user-name="@Model.Username" data-audio-id="@Model.gigs.Id">Comment</button>
              

         
     </div>  
 }
}
<p>  @Model.gigs.Song @(@Model.gigs.DateTime < DateTime.Now ?"Published" :"Will Publish" ) @Model.gigs.DateTime.ToString("d MMM")  at @Model.gigs.DateTime.ToString("HH:mm")</p>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p> You will attend this gig have a nice time </p>
}
<h3>Comments</h3>
<div class="comments-container">
    @foreach (var item in Model.Comments)
    {
    <div class="comment">

        <span id="commented-user">@item.User.name</span>
    <p>@item.comment</p>
    </div>
    }
</div>
@section Scripts{
    <script>
       
        $(document).ready(function () {
            followArtist.follow();
            loveAudio.loveClick();
            Comment.clickComment();
        });
    </script>
     
}